<div class="col-md-8 offset-md-3">
  <h3 class="mt-5">Update existing employee</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        [(ngModel)]="employee.firstName"
        name="firstName"
      />

      <label>Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        [(ngModel)]="employee.lastName"
        name="lastName"
      />

      <label>Email Address</label>
      <input
        type="text"
        class="form-control"
        id="emailId"
        [(ngModel)]="employee.emailId"
        name="emailId"
      />
    </div>

    <div class="text-center">
      <button class="btn btn-success" type="submit">Update Employee</button>
    </div>
  </form>
</div>
